.footer {
	min-height: 35vh;
	background-repeat: no-repeat;
	/* width: 100vw; */
	background-size: cover;
	background-position: center top;
	overflow: hidden;
	display: flex;
	align-items: center;
	border-top: 1px solid black;
}

.footer h5 {
	font-family: var(--fontF);
	font-size: 1.75rem;
	color: black;
}

.footer a {
	font-family: var(--fontF);
	font-size: 1.5rem;
	color: #183241;
	color: var(--color2);
}
